<% const currentYear=new Date().getFullYear(); %>
    <div class="footer">
        <span><a style="cursor: auto;" href="/admin">&copy Copyright</a>
            <%= currentYear %>. Conestoga College
        </span>

    </div>

    <link type="text/css" rel="stylesheet" href="/style/style.css">
    <script type="text/javascript" src="/script/script.js"></script>
    </body>

    </html>