<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Conestoga College</title>
    <link rel="icon" type="image/png" href="/logo/logoheader.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/logo/logoheader.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script src="https://kit.fontawesome.com/1d87bec160.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />
    <link type="text/css" rel="stylesheet" href="/style/style.css">
    <script src="https://cdn.tiny.cloud/1/mo9s92ofreq6a4wjehf0xnnpwovty6tuvo9y0u44j8d3m1yc/tinymce/7/tinymce.min.js"
    referrerpolicy="origin"></script>

</head>