<%- include("./layouts/headerDas.ejs")%>
    <div class="dashboard">
        <h1 style="font-size: 45px; font-weight: 600;">Welcome </h1>
        <h3 style="font-weight: 500;">Hello <%- admin.username %>, welcome to the dashboard</h3>
    </div>
    <%- include("./layouts/footer.ejs")%>